<!DOCTYPE html>
<html lang="en">

{% include 'head-template.html' with context %}

<body>

  <!-- Navigation -->
  {% include 'navigation.html' with context %}

  <!-- Page Content -->
  <div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="img/analogue-kit-assembled-900x400.jpg" alt="">

      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-5">
        <h1 class="font-weight-light">{{ title }}</h1>
        <h2>{{ subtitle }}</h2>
         <p>Like what you find here?</p>
        <a class="btn btn-primary" href='https://ko-fi.com/K3K61CLW1' target='_blank'>Buy me a Coffee</a>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <div class="card my-5 py-4 text-center">
      <div class="card-body">
        {{contents}}
      </div>
    </div>

    <!-- Content Row -->
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title"><em>Free</em> Resources</h2>
            <p class="card-text">You'll find free mini-guides, including</p>
            <ul>
              <li>micro:bit MicroPython</li>
              <li>Chips with Everything</li>
              <li>Anastasia build guide</li>
            </ul>
          </div>
          <div class="card-footer">
            <a href="resources/index.html" class="btn btn-primary btn-sm">More Info</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">eBooks</h2>
            <p class="card-text">Easy-to-read, practical books, published on Leanpub.</p>
            <p class="card-text">Readers love Leanpub:</p>
            <ul>
              <li>45 day money-back guarantee</li>
              <li><em>Free</em>em> samples</li>
              <li><em>Free</em>em> updates</li>
              <li>DRM-free pdfs and other formats.</li>
            </ul>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary btn-sm">More Info</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">RAREblog</h2>
            <p class="card-text">RAREblog started in 2008.</p>
            <p class="card-text">Topics include:</p>
            <ul>
            <li>Robotics</li>
            <li>Arduino</li>
            <li>Raspberry Pi</li>
            <li>Electronics</li>
            </ul>
          </div>
          <div class="card-footer">
            <a href="https://blog.rareschool.com" class="btn btn-primary btn-sm">More Info</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  {% include 'footer-template.html' with context %}

</body>

</html>
